/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}
input#nav-toggle:checked + label #hide-button {
  @apply block;
}
input#nav-toggle:checked ~ #nav-menu {
  @apply max-lg:block;
}

/* form style */
.form-input {
  @apply w-full rounded-lg border-border bg-white px-4 py-3 text-text-dark placeholder:text-[#0a0a0a4d] focus:border-secondary focus:ring-transparent;
}
.form-label {
  @apply mb-4 block font-medium text-text-dark;
}

/* swiper pagination */
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.swiper-pagination {
  @apply flex items-center justify-center space-x-2 text-center;
}
.swiper-pagination-bullet {
  @apply h-2.5 w-2.5 rounded-full bg-text-light opacity-100;
}
.swiper-pagination-bullet-active {
  @apply h-4 w-4 bg-primary;
}
