---
import Base from "@/layouts/Base.astro";
---

<Base title="Seite nicht gefunden">
  <section class="section pb-0 text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark"
            data-aos="fade-up-sm"
          >
            404
          </span>
          <h1 class="h2 mb-4" data-aos="fade-up-sm" data-aos-delay="100">
            Seite nicht gefunden
          </h1>
          <div class="content" data-aos="fade-up-sm" data-aos-delay="200">
            <p>
              Die gesuchte Seite gibt es hier nicht mehr oder sie wurde verschoben.
            </p>
          </div>
          <a
            href="/"
            class="btn btn-primary mt-8"
            data-aos="fade-up-sm"
            data-aos-delay="300">Zur Startseite</a
          >
        </div>
      </div>
    </div>
  </section>
</Base>
