---
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import CallToAction from "@/partials/CallToAction.astro";

const pageIndex = await getListPage("contact", "-index");
if (pageIndex.data.draft) {
  return Astro.redirect("/404");
}
---

<Base {...pageIndex.data}>
  <section class="section bg-light">
    <div class="container">
      <h1 class="text-center" data-aos="fade-up-sm">Kontakt aufnehmen</h1>
    </div>
  </section>

  <section class="section pb-0">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-8">
          <form action="#" method="POST">
            <div class="sm:flex justify-between gap-10">
              <div
                class="mb-6 w-full"
                data-aos="fade-up-sm"
                data-aos-delay="100"
              >
                <label for="name" class="form-label"> Name </label>
                <input
                  id="name"
                  name="name"
                  class="form-input w-full bg-tertiary/5!"
                  placeholder="Ihr Name"
                  type="text"
                  autoComplete="name"
                  required
                />
              </div>
              <div
                class="mb-6 w-full"
                data-aos="fade-up-sm"
                data-aos-delay="150"
              >
                <label for="mobileNumber" class="form-label">
                  Telefonnummer
                </label>
                <input
                  id="mobileNumber"
                  name="mobileNumber"
                  class="form-input w-full bg-tertiary/5!"
                  placeholder="Telefonnummer"
                  type="tel"
                  inputmode="tel"
                  autoComplete="tel"
                  required
                />
              </div>
            </div>
            <div class="mb-6" data-aos="fade-up-sm" data-aos-delay="200">
              <label for="email" class="form-label"> E-Mail </label>
              <input
                id="email"
                name="email"
                class="form-input bg-tertiary/5!"
                placeholder="E-Mail-Adresse"
                type="email"
                autoComplete="email"
                spellCheck={false}
                required
              />
            </div>
            <div class="mb-6" data-aos="fade-up-sm" data-aos-delay="250">
              <label for="message" class="form-label"> Nachricht </label>
              <textarea
                id="message"
                name="message"
                class="form-input bg-tertiary/5!"
                placeholder="Worum geht es?"
                rows="3"
                name="message"
                autoComplete="off"></textarea>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              data-aos="fade-up-sm"
              data-aos-delay="300">Nachricht senden</button
            >
          </form>
        </div>
      </div>
    </div>
  </section>

  <CallToAction />
</Base>
